* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
  font-size: 20px;
}

.oculto {
  font-size: 0;
}

ul, li {
  text-decoration: none;
  color: inherit;
  list-style: none;
}

body {
  background-color: #151320;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #0d0b1d;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}
header ul {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}
header a {
  display: flex;
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
}
header .nav__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .nav__logo img {
  height: 6.25rem;
}
header .nav__car {
  display: none;
}
header form {
  display: none;
}
@media (min-width: 768px) {
  header .nav__logo {
    margin-right: 1rem;
  }
  header .nav__srchbar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  header .nav__links {
    gap: 2rem;
  }
  header .nav__top {
    justify-content: space-between;
  }
  header .nav__car {
    display: flex;
    height: 1.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    order: 3;
  }
  header header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  header header {
    display: flex;
    background-color: #0d0b1d;
  }
  header form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.1rem;
  }
  header nav {
    flex-direction: row;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  header .nav__car {
    display: flex;
    align-items: center;
    height: 1.5rem;
  }
  header .nav__links li {
    padding: 0 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
  }
  header .nav__links li:hover {
    transform: scale(1.5);
  }
  header .nav__links li a:hover {
    color: #ffbc0e;
  }
  header .nav__links li a {
    font-size: 700;
    color: white;
  }
  header .nav__logo img {
    height: 5rem;
    margin-top: 0.4rem;
    width: 150px;
    cursor: pointer;
    transition: all 0.3s;
  }
  header .nav__logo img:hover {
    transform: scale(1.2);
  }
  header .nav__car img {
    display: grid;
    cursor: pointer;
    height: 2rem;
    transition: all 0.3s;
  }
  header .nav__car img:hover {
    transform: scale(1.2);
  }
}

.main__index {
  display: grid;
  place-items: center center;
  overflow: hidden;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.5rem;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.card__conteiner {
  background-color: #1c1b29;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.18);
  width: 13rem;
  height: auto;
  transition: all 0.3s;
}

.card__conteiner:hover {
  transform: scale(1.05);
}

.card__body {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.card__body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  padding: 1rem;
  top: 0;
  display: block;
  border-radius: 1.25rem 1.25rem 0 0;
}

.card__details {
  text-align: center;
  padding: 1.25rem 0.6rem;
}
.card__details h3 {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  margin: 0.6rem 0 1rem 0;
}
.card__details .card__price {
  color: #22E100;
}
.card__details .card__pay {
  color: #a0a0a0;
  font: 1rem;
  text-align: center;
  line-height: 1.8rem;
  font-weight: 400;
  padding-bottom: 0.3rem;
}
.card__details .card__btn {
  margin-top: auto;
  text-decoration: none;
  background-color: #EB00FF;
  color: white;
  padding: 0.3rem 20% 0.5rem;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    padding: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .card__conteiner {
    width: 300px;
    height: 500px;
  }
}
aside {
  display: none;
}

@media (min-width: 1200px) {
  aside {
    display: flex;
    gap: 2.8rem;
    padding: 1rem;
    justify-content: center;
  }
  aside img {
    height: 150px;
    width: 150px;
  }
}
footer {
  display: inline;
  padding: 1rem;
}
footer a {
  padding: 0 0.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

.foot_cont {
  padding: 1rem;
  color: white;
  text-align: center;
}

@media (min-width: 1200px) {
  footer {
    background-color: #0d0b1d;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.6rem 0 1rem 0;
  }
  footer a {
    padding: 0 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    color: inherit;
    list-style: none;
  }
  footer a:hover {
    color: #ffbc0e;
  }
}
.foot_cont {
  padding: 1rem;
  color: #a0a0a0;
  text-align: center;
}

.cat__item {
  border-bottom: solid 1px white;
  padding: 0.4rem;
}

.cat__padre {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

.cat__hijo a {
  list-style: none;
  margin: 0.5rem;
  text-decoration: none;
  color: #a0a0a0;
  font: 1rem;
  line-height: 1.8rem;
  font-weight: 400;
}

.cat__hijo:hover {
  transform: scale(1.1);
}

.main__comp {
  display: flex;
  justify-content: stretch;
  flex-wrap: nowrap;
}

.card__prod {
  flex-basis: calc(33.33% - 1rem);
  margin-bottom: 1rem;
  background-color: #1c1b29;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.18);
  transition: all 0.3s;
}

.card__prod:hover {
  transform: scale(1.05);
}

.card__prodconteiner {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.card__prodconteiner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  padding: 1rem;
  top: 0;
  display: block;
  border-radius: 1.25rem 1.25rem 0 0;
}

.card__proddetails {
  padding: 1.25rem 0.6rem;
}
.card__proddetails h3 {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0.6rem 0 1rem 0;
}
.card__proddetails p {
  color: #a0a0a0;
  text-align: center;
  font: 1rem;
  line-height: 1.8rem;
  font-weight: 400;
}
.card__proddetails .card__price {
  color: #22E100;
  text-align: center;
}
.card__proddetails .card__pay {
  color: #a0a0a0;
  font: 1rem;
  text-align: center;
  line-height: 1.8rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.card__proddetails .card__btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #EB00FF;
  color: white;
  padding: 0.3rem 20% 0.5rem;
  border-radius: 1rem;
}

@media (min-width: 400px) {
  .main__comp {
    display: flex;
    justify-content: center;
  }
  .cards__comp {
    flex-direction: column;
    padding: 1rem;
    flex-wrap: nowrap;
  }
}
.cat__list {
  display: none;
}

@media (min-width: 768px) {
  .cards__comp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    padding: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .main__comp {
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;
  }
  .cards__comp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    gap: 2rem;
    padding: 1.25rem;
  }
  .cat__list {
    background-color: #1c1b29;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.1rem;
    margin: 1.1rem;
    margin-left: 5.2rem;
    border-radius: 1rem;
    padding-inline-start: 40px;
    height: 100%;
  }
}
.main__per {
  display: flex;
  justify-content: center;
}

.cat__list__per {
  display: none;
}

@media (min-width: 1200px) {
  .cat__list__per {
    background-color: #1c1b29;
    display: flex;
    flex-direction: column;
    padding: 1.1rem;
    justify-content: start;
    text-align: center;
    border-radius: 1rem;
    padding-inline-start: 40px;
    margin: 1.1rem 1rem 0 5rem;
    height: 100%;
    width: 12.5rem;
  }
  .cat__item__per {
    border-bottom: solid 1px white;
    padding: 0.4rem;
  }
  .cat__padre__per {
    text-align: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .cat__hijo__per a {
    list-style: none;
    text-align: center;
    margin: 0.5rem;
    text-decoration: none;
    color: #a0a0a0;
    font: 1rem;
    line-height: 1.8rem;
    font-weight: 400;
  }
  .cat__hijo__per:hover {
    transform: scale(1.1);
  }
}
.main__sn {
  padding: 1rem;
}

.textTittle__preg {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.15rem;
  text-shadow: 0 2px 0.56rem #CCCCCC;
  color: white;
  margin: 1.56rem 2.5rem 1.56rem;
  font-size: 50px;
}

.preg__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: #1c1b29;
  box-shadow: 0 1px 0.5rem #CCCCCC;
  width: 90vw;
  text-align: center;
  border-radius: 0.8rem;
  border: solid 1px white;
  margin: 1rem;
  padding: 0.3rem;
}

.rta__list {
  color: #a0a0a0;
  text-align: center;
  max-width: 90vw;
  margin: 0 auto;
}

.lista__list li {
  max-width: 90vw;
  text-align: center;
  margin: 0 auto;
  list-style: none;
  color: #a0a0a0;
}
.lista__list li :hover {
  transform: scale(1.2);
}
.lista__list li a {
  max-width: 90vw;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
  color: #a0a0a0;
}
.lista__list li a:hover {
  color: #ffbc0e;
}

.main__ayuda {
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
