/*formateo de documento*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    font-size: 20px;
}

h1{
    display: none;
}

ul{
    text-decoration: none;
    color: inherit;
    list-style: none;
}



/*text utilizado*/

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');




/*BACK DE TODA LA PAGINA*/

body{
    background-color: #151320;
}

/*EDICION DEL NAV*/

.header{
    display: flex;
    flex-direction: column;
    background-color: #0d0b1d;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


header nav ul{
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

nav a{
    display: flex;
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
}


.logo img{
    height: 6.25rem;
}

.carro{
    display: none;
}


header form{
    display: none;
}

@media (min-width: 768px){


.logo{
    margin-right: 1rem;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.nav-links{
    gap: 0.5rem;
}

.top-nav {
    justify-content: space-between;
}


.carro{
    display: flex;
    height: 1.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    order: 3
}


header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
}

@media (min-width: 1200px){

.header{
    display: flex;
    background-color: #0d0b1d;
}

header form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.1rem;
}

nav {
    flex-direction: row;
}

.header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.carro {
    display: flex;
    align-items: center;
    height: 1.5rem;
}


header .nav-links li{
    padding: 0 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
}

header .nav-links li:hover{
    transform: scale(1.5);
}

header .nav-links li a:hover{
    color: #ffbc0e;
}


header .nav-links li a{
    font-size: 700;
    color: white;

}

.logo img{
    height: 5rem;
    margin-top: 0.4rem;
    width: 150px;
    cursor: pointer;
    transition: all (0.3s);
}

.logo img:hover{
    transform: scale(1.2);
}

.carro img{
    display: grid;
    cursor: pointer;
    height: 2rem;
    transition: all (0.3s);
}

.carro img:hover{
    transform: scale(1.2);
}
}

/* CARDS PARA PRODUCTOS / EDICION DEL MAIN DE LA PAGINA*/


main{
    display: grid;
    place-items: center center;
    overflow: hidden;
}

.cards{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
}


.card{
    background-color: #1c1b29;
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 0 0 1.8rem rgba(0,0,0,0.18);
    width: 5;
    height: auto;
    transition: all (0.3s);
}

.card:hover{
    transform: scale(1.05);
}

.conteiner-card{
    height: 0;
    padding-bottom:100%;
    position: relative;
}

.conteiner-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    padding: 1rem;
    top: 0;
    display: block;
    border-radius: 1.25rem 1.25rem 0 0;
}

.details{
    padding: 1.25rem 0.6rem;
}

.details h3{
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.6rem 0 1rem 0;
}

.details p{
    color: #a0a0a0;
    font: 1rem;
    line-height: 1.8rem;
    font-weight: 400;
}


@media (min-width: 768px) {
.cards{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    padding: 1.25rem;
}
}

@media (max-width: 1200px) {

    .card{
        width: 300px;
        height: 500px;
    }
}

@media (min-width: 1200px) {
.cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    padding: 1.25rem;
    }
}


/* EDICION DEL ASIDE DE LA PAGINA */

aside{
    display: none;
}


@media (min-width: 1200px){

aside {
    display: flex;
    gap: 2.8rem;
    padding: 1rem;
    justify-content: center;
}

aside img {
    height: 150px;
    width: 150px;
}
}


/* EDICION DEL FOOTER - REDES */


footer{
    display: inline;
    padding: 1rem;
}

.color-foot{
    padding: 1rem;
    color: white;
    text-align: center;
}

footer a{
    padding: 0 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

@media (min-width: 1200px){

footer{
    background-color: #0d0b1d;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.color-foot{
    padding: 1rem;
    color: #a0a0a0;
    text-align: center;
}

footer h3{
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.6rem 0 1rem 0;
}

footer a{
    padding: 0 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

footer a:hover{
    color: #ffbc0e;
}
}

/* EDICION DE LA SECCION COMPONENTES */

.comp__padre{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    border-bottom: solid 1px;
}

.comp__hijo{
    display: flex;
    padding: 0.3rem;
    margin-top: -1rem;
}

.card-prod{
    flex-basis: calc(33.33% - 1rem); /* Ajusta el ancho proporcionalmente */
    margin-bottom: 1rem;
    background-color: #1c1b29;
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 0 0 1.8rem rgba(0,0,0,0.18);
    width: 12.5rem;
    height: 28.12rem;
    transition: all (0.3s);
}

.card-prod:hover{
    transform: scale(1.05);
}

.conteiner-cardprod{
    height: 0;
    padding-bottom:100%;
    position: relative;
}

.conteiner-cardprod img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    padding: 1rem;
    top: 0;
    display: block;
    border-radius: 1.25rem 1.25rem 0 0;
}

.details{
    padding: 1.25rem 0.6rem;
}

.details h3{
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.6rem 0 1rem 0;
}

.details p{
    color: #a0a0a0;
    font: 1rem;
    line-height: 1.8rem;
    font-weight: 400;
}

.cat__list{
    background-color: #1c1b29;
    display: flex;
    flex-direction: column;
    padding: 1.1rem;
    border-radius: 1rem;
    padding-inline-start: 40px;
    margin: -77rem 40px 40px;
}

.cat__item{
    border-bottom: solid 1px white;
    padding: 0.4rem;
}


.cat__padre{
    text-align: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.cat__hijo a{
    list-style: none;
    margin: 0.5rem;
    text-decoration: none;
    color: #a0a0a0;
    font: 1rem;
    line-height: 1.8rem;
    font-weight: 400;
}

.cat__hijo:hover{
    transform: scale(1.1);
}


@media (min-width: 400px){

.main__componentes{
    display: flex;
    justify-content: center;
}

.cat__list{
    display: none;
}

.cards-prod{
    flex-direction: column;
    padding: 1rem;
    flex-wrap: nowrap;
}
}

@media (min-width: 768px) {
.cards-prod {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    padding: 1.25rem;
}
}

@media (min-width: 1200px){

.main__componentes{
    display: flex;
    justify-content: stretch;
}

.cat__list{
    background-color: #1c1b29;
    display: flex;
    flex-direction: column;
    padding: 1.1rem;
    border-radius: 1rem;
    padding-inline-start: 2.5rem;
    margin: -83.5rem 2.5rem 2.5rem;
    }

.cards-prod {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Agregamos esta línea para crear tres columnas */
    grid-gap: 1rem;
    gap: 2rem;
    padding: 1.25rem;
    }
    
}

/* DIVISION DE RES*/


