
$c-background: #151320;
$c-nav: #0d0b1d;
$c-textcard: white;
$c-textdetails: #a0a0a0;
$c-card: #1c1b29; 
$c-hover: #ffbc0e;
$c-price: #22E100;
$c-btn: #EB00FF;
$bp-smartphone: 400px;
$bp-tablet: 768px;
$bp-desktop: 1200px;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    font-size: 20px;
}

.oculto{
    font-size: 0;
}


ul, li{
    text-decoration: none;
    color: inherit;
    list-style: none;
    
}

body{
    background-color: $c-background;
}
