aside{
    display: none;
}

@media (min-width: $bp-desktop){

aside{
    display: flex;
    gap: 2.8rem;
    padding: 1rem;
    justify-content: center;

img{
    height: 150px;
    width: 150px;
    transition: all (0.4s);
}

& img:hover{
    transform: scale(1.2);
    filter: drop-shadow(1px 3px 3px white);
}
}
}